<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>@Model.GetName()<h2>
    <h2>@Model.GetDescription()</h2>

    <a href="/places/new">Add another place</a>

  </body>
</html>
