<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <body background="http://www.texturegen.com/wp-content/uploads/yapb_cache/texturegen_2252.dgow7fluwmgos40kk848sg04c.7kd5c61yg800os4cowgcs8sow.th.jpeg">
    <h1>@Model.GetName()<h2>
      <img src="https://media.giphy.com/media/z4siLlEv4ZSSs/200.gif">
    <h2>@Model.GetDescription()</h2>

    <a href="/pets/new">Add another pet</a>
    <br>
    <a href="/pets/">View Your Pets</a>
  </body>
</html>
