<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a new pet:</h1>
    <form class="petsForm" action="/pets" method="post">
      <label for="petName">Name</label>
      <input type="text" name="petName" id="petName">
      <label for="petDescript">Description</label>
      <input type="text" id="petDescript" name="petDescript">
      <button type="submit">Add Pet</button>
    </form>
  </body>
</html>
